<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "sample app", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <%= link_to 'Share video', new_movies_path, class: 'btn btn-primary btn-lg' %>
      </ul>
    </nav>
  </div>
</header>
